
<div class="row">
<!--    <div class="col-md-3">-->
<!--        <ul class="list-group" >-->
<!--            <li class="list-group-item" routerLink="/products">All Categories</li>-->
<!--            <li class="list-group-item" *ngFor="let category of categories"><a (click)="filterBy(category.key)">{{category.key}}</a></li>-->
<!--          </ul>-->
<!--    </div>-->

  <app-product-filter></app-product-filter>

    <div class="col-md-7 view-products">

        <div class="row">

            <ng-container *ngFor="let item of filteredCategories;let i = index;">

                <div class="col">
                  <app-product-card [product]="item" [cart]="shoppingCart"></app-product-card>
                </div>

                  <div class="w-100" *ngIf=" (i+1) / 2 == 0"></div>
            </ng-container>


        </div>

    </div>
</div>
