<div class="card" style="width: 18rem;" >
  <img class="card-img-top" [src]="product.imageUrl">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | currency:"USD":true }}</p>

  </div>

  <div class="card-footer">
    <button (click)="addToCart()" class="btn btn-secondary btn-block" *ngIf="getQuantity() == 0;else cardQuantity; ">Add to Cart</button>
    <ng-template #cardQuantity>
      <app-product-quantity [product]="product" [cart]="cart"></app-product-quantity>
    </ng-template>
  </div>
</div>
