



<p>
    <a class="btn btn-primary" routerLink="/admin/products/new">Add a new Product</a>
</p>


<p>
<input type="text" (keyup)="filter(query.value)" #query placeholder="Search.." class="form-control">
</p>
<table class="table">
    <thead>
        <tr>
            <td>Title</td>
            <td>Price</td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of filteredProducts;let i = index;">
            <td>{{item.title}}</td>
            <td>{{item.price}}</td>
            <td *ngIf="productsStates[i] && item">
                <a [routerLink]="['/admin/products',productsStates[i].key]">Edit</a></td>
        </tr>
    </tbody>
</table>